<h1><%=@princess_robot.name%></h1>
<ul>
  <li>Purpose: <%=@princess_robot.purpose%></li>
  <% if @princess_robot.favorite_romantic_comedy %>
    <li>Favorite Romantic Comedy: <%=@princess_robot.favorite_romantic_comedy%></li>
  <% end %>
  <li>Power Level: <%=@princess_robot.power_level%></li>
</ul>

<h2>Mentees</h2>
<%= render partial: "mentees/index", locals: { mentees: @mentees } %>

<h2>Add New Mentee</h2>
<%= render partial: "mentees/new", locals: { princess_robot: @princess_robot, mentee: @new_mentee } %>
